app:
  version: @project.version@
  name: @project.name@
logging:
  level:
    io.opentelemetry.exporter.internal.http.HttpExporter: ERROR
    root: debug
    org:
      apache:
        tomcat:
          util:
            net: WARN
    sun:
      rmi: info
springdoc:
  swagger-ui:
    urls:
      - name: Gateway
        url: /v3/api-docs
      - name: Products
        url: ${path.products}/v3/api-docs
      - name: Dashboard
        url: ${path.dashboard}/swagger-ui/summary/swagger.json
      - name: BPMN
        url: ${path.bpm}/v3/api-docs
      - name: Cx
        url: ${path.cx.all}/v3/api-docs
      - name: Pack loader
        url: ${path.pack-loader.all}/v3/api-docs
      - name: Auth
        url: ${path.auth}/v3/api-docs
      - name: Techradar
        url: ${path.techradar}/v3/api-docs
      - name: Capability
        url: ${path.capability}/v3/api-docs
      - name: Notification
        url: ${path.notification}/v3/api-docs
      - name: Document
        url: ${path.document}/v3/api-docs
      - name: Structurizr
        url: ${path.structurizr}/openapi.json
      - name: Graph
        url: ${path.graph}/v3/api-docs
spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
  cache:
    expiration: 604800000
  main:
    web-application-type: reactive
  cloud:
    gateway:
      routes:
        - id: cxAll
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.all}/**
          filters:
            - RewritePath=${path.cx.all}/api-docs, /v3/api-docs
        - id: cxBi
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.bi}/**
          filters:
            - RewritePath=${path.cx.bi}, /api/cx/v1/library/business-interactions
        - id: cxBiV2
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.biv2}/**
          filters:
            - RewritePath=${path.cx.biv2}/(?<RID>.*), /api/cx/v2/library/business-interactions/$\{RID}
        - id: cxRefference
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.references}/**
          filters:
            - RewritePath=${path.cx.references}/(?<RID>.*), /api/cx/v1/references/$\{RID}
        - id: cxCj
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.cj}/**
          filters:
            - RewritePath=${path.cx.cj}/cj, /api/cx/v1/cj
            - RewritePath=${path.cx.cj}, /api/cx/v1/product/cj
        - id: cxCjV2
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.cjv2}/**
          filters:
            - RewritePath=${path.cx.cjv2}/(?<RID>.*), /api/cx/v2/product/cj/$\{RID}
        - id: CjStep
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.step}/**
          filters:
            - RewritePath=${path.cx.step}, /api/cx/v1/product/step
        - id: cxProduct
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.product}/**
          filters:
            - RewritePath=${path.cx.product}/(?<RID>.*), /api/cx/v1/product/$\{RID}
        - id: cxBpmn
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.bpmn}/**
          filters:
            - RewritePath=${path.cx.bpmn}/cj/(?<RID>.*), /api/cx/v1/bpmn/cj/$\{RID}

        - id: cx2
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx2}/**
          filters:
            - RewritePath=${path.cx2}/(?<segment>.*), /$\{segment}

        - id: userService
          uri: ${integration.auth-server-url}
          predicates:
            - Path=${path.auth}/**
          filters:
            - RewritePath=${path.auth}/v3/api-docs, /v3/api-docs
            - RewritePath=${path.auth}/user/(?<RID>.*)/product, /api/user/$\{RID}/product
            - RewritePath=${path.auth}, /api/admin/v1
            - RewritePath=${path.auth}/user/(?<RID>.*)/info, /api/admin/v1/user/$\{RID}/info
        - id: userService2
          uri: ${integration.auth-server-url}
          predicates:
            - Path=${path.user2}/**
          filters:
            - RewritePath=${path.user2}/(?<segment>.*), /$\{segment}

        - id: technoradar
          uri: ${integration.techradar-server-url}
          predicates:
            - Path=${path.techradar}/**
          filters:
            - RewritePath=${path.techradar}/v3/api-docs, /v3/api-docs
            - RewritePath=${path.techradar}, /api/v1
            - RewritePath=${path.techradar}, /api/v1/rings
            - RewritePath=${path.techradar}/sectors, /api/v1/sectors
            - RewritePath=${path.techradar}/tech/(?<RID>.*), /api/v1/tech/$\{RID}
            - RewritePath=${path.techradar}/tech/(?<RID>.*)/version, /api/v1/tech/$\{RID}/version
            - RewritePath=${path.techradar}/tech/(?<RID>.*)/version/(?<version>.*)/, /api/v1/tech/$\{RID}/version/$\{version}
            - RewritePath=${path.techradar}/pattern, /api/v1/pattern
            - RewritePath=${path.techradar}/patterns, /api/v1/patterns
            - RewritePath=${path.techradar}/pattern/(?<RID>.*), /api/v1/pattern/$\{RID}
            - RewritePath=${path.techradar}/patterns/tech/(?<RID>.*), /api/v1/patterns/tech/$\{RID}
            - RewritePath=${path.techradar}/patterns/auto-check, /api/v1/patterns/auto-check
        - id: technoradar2
          uri: ${integration.techradar-server-url}
          predicates:
            - Path=${path.techradar2}/**
          filters:
            - RewritePath=${path.techradar2}/(?<segment>.*), /$\{segment}

        - id: notification
          uri: ${integration.notification-server-url}
          predicates:
            - Path=${path.notification}/**
          filters:
            - RewritePath=${path.notification}/v3/api-docs, /v3/api-docs
            - RewritePath=${path.notification}, /api/v1
            - RewritePath=${path.notification}/business/notify, /api/v1/business/notify
        - id: notification2
          uri: ${integration.notification-server-url}
          predicates:
            - Path=${path.notification2}/**
          filters:
            - RewritePath=${path.notification2}/(?<segment>.*), /$\{segment}

        - id: packloaderPackageAll
          uri: ${integration.pack-loader-server-url}
          predicates:
            - Path=${path.pack-loader.all}/**
          filters:
            - RewritePath=${path.pack-loader.all}/api-docs, /api-docs
        - id: packloaderPackage
          uri: ${integration.pack-loader-server-url}
          predicates:
            - Path=${path.pack-loader.package}/**
          filters:
            - RewritePath=${path.pack-loader.package}/(?<RID>.*), /api/v1/package/$\{RID}
        - id: packloaderPackages
          uri: ${integration.pack-loader-server-url}
          predicates:
            - Path=${path.pack-loader.packages}/**
          filters:
            - RewritePath=${path.pack-loader.packages}, /api/v1/packages-list
        - id: packloaderPackages2
          uri: ${integration.pack-loader-server-url}
          predicates:
            - Path=${path.package2}/**
          filters:
            - RewritePath=${path.package2}/(?<segment>.*), /$\{segment}

        - id: capabilityService
          uri: ${integration.capability-server-url}
          predicates:
            - Path=${path.capability}/**
          filters:
            - RewritePath=${path.capability}/v3/api-docs, /v3/api-docs
            - RewritePath=${path.capability}/business, /api/v1/business-capability
            - RewritePath=${path.capability}/business/(?<RID>.*), /api/v1/business-capability/$\{RID}
            - RewritePath=${path.capability}/business/(?<RID>.*)/parent, /api/v1/business-capability/$\{RID}/parent
            - RewritePath=${path.capability}/business/tree, /api/v1/business-capability/tree
            - RewritePath=${path.capability}/business/order, /api/v1/business-capability/order
            - RewritePath=${path.capability}/business/order/draft, /api/v1/business-capability/order/draft
            - RewritePath=${path.capability}/business/order/draft/(?<RID>.*), /api/v1/business-capability/order/draft/$\{RID}
            - RewritePath=${path.capability}/business/order/(?<RID>.*), /api/v1/business-capability/order/$\{RID}
            - RewritePath=${path.capability}/business/tree/(?<RID>.*), /api/v1/business-capability/tree/$\{RID}
            - RewritePath=${path.capability}/business/history/(?<RID>.*), /api/v1/business-capability/history/$\{RID}
            - RewritePath=${path.capability}/business/history/compare/(?<RID>.*)/(?<version>.*)/, /api/v1/business-capability/history/compare/$\{RID}/$\{version}
            - RewritePath=${path.capability}/tech, /api/v1/tech-capabilities
            - RewritePath=${path.capability}/tech/(?<RID>.*), /api/v1/tech-capabilities/$\{RID}
            - RewritePath=${path.capability}/tech/history/(?<RID>.*), /api/v1/tech-capability/history/$\{RID}
            - RewritePath=${path.capability}/capabilities-subscribed, /api/v1/capabilities-subscribed
            - RewritePath=${path.capability}/tech/(?<RID>.*)/parent, /api/v1/tech-capabilities/$\{RID}/parent
            - RewritePath=${path.capability}/search, /api/v1/find
            - RewritePath=${path.capability}/criterias, /api/v1/criterias
            - RewritePath=${path.capability}/maps, /api/v1/maps
            - RewritePath=${path.capability}/maps/(?<RID>.*), /api/v1/maps/$\{RID}
            - RewritePath=${path.capability}/maps/groups/(?<RID>.*), /api/v1/maps/groups/$\{RID}
            - RewritePath=${path.capability}/capability/type, /api/v1/capability/type
        - id: capabilityService2
          uri: ${integration.capability-server-url}
          predicates:
            - Path=${path.capability2}/**
          filters:
            - RewritePath=${path.capability2}/(?<segment>.*), /$\{segment}

        - id: dashboardService
          uri: ${integration.dashboard-server-url}
          predicates:
            - Path=${path.dashboard}/**
          filters:
            - RewritePath=${path.dashboard}/swagger-ui/summary/swagger.json, /swagger-ui/summary/swagger.json
            - RewritePath=${path.dashboard}/tech/(?<RID>.*), /api/tech-capabilities/$\{RID}

        - id: productsService
          uri: ${integration.products-server-url}
          predicates:
            - Path=${path.products}/**
          filters:
            - RewritePath=${path.products}/v3/api-docs, /v3/api-docs
            - RewritePath=${path.products}/tech/(?<RID>.*)/product, /api/v1/tech/$\{RID}/product
            - RewritePath=${path.products}/user/product, /api/v1/user/product
            - RewritePath=${path.products}/connection/interface, /api/v1/connection/interface
            - RewritePath=${path.products}/user/product/admin, /api/v1/user/product/admin
            - RewritePath=${path.products}/product/(?<RID>.*)/fitness-function, /api/v1/product/$\{RID}/fitness-function
            - RewritePath=${path.products}/product/(?<RID>.*)/fitness-function/(?<ID>.*), /api/v1/product/$\{RID}/fitness-function/$\{ID}
            - RewritePath=${path.products}/product/(?<RID>.*)/patterns, /api/v1/product/$\{RID}/patterns
            - RewritePath=${path.products}/product/(?<RID>.*)/interface/arch, /api/v1/product/$\{RID}/interface/arch
            - RewritePath=${path.products}/product/(?<RID>.*)/interface/mapic, /api/v1/product/$\{RID}/interface/mapic
            - RewritePath=${path.products}/product/(?<RID>.*)/container, /api/v1/product/$\{RID}/container
            - RewritePath=${path.products}/product/info, /api/v1/product/info
            - RewritePath=${path.products}/product/(?<RID>.*)/info, /api/v1/product/$\{RID}/info
        - id: productsService2
          uri: ${integration.products-server-url}
          predicates:
            - Path=${path.product2}/**
          filters:
            - RewritePath=${path.product2}/(?<segment>.*), /$\{segment}

        - id: documentService
          uri: ${integration.document-server-url}
          predicates:
            - Path=${path.document}/**
          filters:
            - RewritePath=${path.document}/v3/api-docs, /v3/api-docs
            - RewritePath=${path.document}/import/(?<RID>.*), /api/v1/import/$\{RID}
            - RewritePath=${path.document}/documents/import, /api/v1/documents/import
            - RewritePath=${path.document}/documents/export, /api/v1/documents/export
            - RewritePath=${path.document}/export/(?<RID>.*), /api/v1/export/$\{RID}
            - RewritePath=${path.document}/documents/(?<RID>.*), /api/v1/documents/$\{RID}
            - RewritePath=${path.document}/documentations/(?<RID>.*), /api/v1/documentations/$\{RID}
            - RewritePath=${path.document}/documents/(?<documentationsTypeId>.*)/(?<targetId>.*), /api/v1/documents/$\{documentationsTypeId}/$\{targetId}
        - id: documentService2
          uri: ${integration.document-server-url}
          predicates:
            - Path=${path.doc2}/**
          filters:
            - RewritePath=${path.doc2}/(?<remaining>.*), /$\{remaining}

        - id: bpmService
          uri: ${integration.camunda-server-url}
          predicates:
            - Path=${path.bpm}/**
          filters:
            - RewritePath=${path.bpm}/v3/api-docs, /v3/api-docs
            - RewritePath=${path.bpm}/status/(?<RID>.*)/(?<ID>.*)/now, /camunda-process/api/v1/status/$\{RID}/$\{ID}/now
            - RewritePath=${path.bpm}/status/(?<RID>.*)/(?<ID>.*), /camunda-process/api/v1/status/$\{RID}/$\{ID}
            - RewritePath=${path.bpm}/processes/context/(?<name>.*)/(?<value>.*), /camunda-process/api/v1/processes/context/$\{name}/$\{value}
            - RewritePath=${path.bpm}/processes/(?<RID>.*), /camunda-process/api/v1/processes/$\{RID}
            - RewritePath=${path.bpm}/application/(?<businessKey>.*), /camunda-process/api/v1/application/$\{businessKey}
            - RewritePath=${path.bpm}/application/(?<businessKey>.*)/executor, /camunda-process/api/v1/application/$\{businessKey}/executor
            - RewritePath=${path.bpm}/application/(?<businessKey>.*)/executor/(?<newExecutorId>.*), /camunda-process/api/v1/application/$\{businessKey}/executor/$\{newExecutorId}
            - RewritePath=${path.bpm}/application/(?<businessKey>.*)/change-status/(?<statusAlias>.*), /camunda-process/api/v1/application/$\{businessKey}/change-status/$\{statusAlias}
            - RewritePath=${path.bpm}/application, /camunda-process/api/v1/application
            - RewritePath=${path.bpm}/application/nobody, /camunda-process/api/v1/application/nobody
            - RewritePath=${path.bpm}/application/author, /camunda-process/api/v1/application/author
            - RewritePath=${path.bpm}/application/executor, /camunda-process/api/v1/application/executor
        - id: bpmService2
          uri: ${integration.camunda-server-url}
          predicates:
            - Path=${path.camunda2}/**
          filters:
            - RewritePath=${path.camunda2}/(?<segment>.*), /$\{segment}

        - id: structurizr
          uri: ${integration.arch-server-url}
          predicates:
            - Path=${path.structurizr}/**
          filters:
            - RewritePath=${path.structurizr}/openapi.json, /openapi.json
            - RewritePath=${path.structurizr}/workspace/terraform/generate, /api/v1/workspace/terraform/generate
        - id: graph
          uri: ${integration.graph-server-url}
          predicates:
            - Path=${path.graph}/**
          filters:
            - RewritePath=${path.graph}/v3/api-docs, /v3/api-docs
            -
        - id: graph2
          uri: ${integration.graph-server-url}
          predicates:
            - Path=${path.graph2}/**
          filters:
            - RewritePath=${path.graph2}/(?<segment>.*), /$\{segment}


        - id: architecture
          uri: ${integration.architecture-server-url}
          predicates:
            - Path=${path.architecture}/**
          filters:
            - RewritePath=${path.architecture}/(?<segment>.*), /$\{segment}
        - id: structurizr2
          uri: ${integration.arch-server-url}
          predicates:
            - Path=${path.structurizr2}/**
          filters:
            - RewritePath=${path.structurizr2}/(?<segment>.*), /$\{segment}
        - id: dashboard2
          uri: ${integration.dashboard-server-url}
          predicates:
            - Path=${path.dashboard2}/**
          filters:
            - RewritePath=${path.dashboard2}/(?<segment>.*), /$\{segment}
path:
  cx:
    all: /api-gateway/cx/v1/v3
    bi: /api-gateway/cx/v1/bi
    biv2: /api-gateway/cx/v2/bi
    references: /api-gateway/cx/v1/references
    cj: /api-gateway/cx/v1/cj
    cjv2: /api-gateway/cx/v2/cj
    step: /api-gateway/cx/v1/step
    product: /api-gateway/cx/v1/product
    bpmn: /api-gateway/cx/v1/bpmn
  pack-loader:
    all: /api-gateway/pack-loader/v1/v3
    package: /api-gateway/pack-loader/v1/package
    packages: /api-gateway/pack-loader/v1/packages
  auth: /api-gateway/auth/v1
  techradar: /api-gateway/techradar/v1
  capability: /api-gateway/capability/v1
  dashboard: /api-gateway/capability/v2
  products: /api-gateway/product/v1
  notification: /api-gateway/notify/v1
  document: /api-gateway/document/v1
  bpm: /api-gateway/camunda-process/v1
  structurizr: /api-gateway/structurizr/v1
  graph: /api-gateway/graph/v1
  architecture: /architecture-center
  structurizr2: /structurizr-backend
  dashboard2: /dashboard
  capability2: /capability
  product2: /product
  techradar2: /techradar
  notification2: /notification
  package2: /package
  cx2: /cx
  camunda2: /camunda
  doc2: /doc
  user2: /user
  graph2: /graph-validator

management:
  endpoints:
    web:
      exposure:
        include: '*'
    prometheus:
      enabled: true

otel:
  exporter:
    otlp:
      endpoint: http://otel-collector.opentelemetry:4318
      protocol: http/protobuf
  resource:
    attributes:
      host:
        name: @project.name@
      service:
        namespace: @project.name@
  service:
    name: @project.name@
  instrumentation:
    log4j-appender:
      enabled: true
  logs:
    exporter: none
