app:
  version: @project.version@
  name: @project.name@
logging:
  level:
    root: debug
    org:
      apache:
        tomcat:
          util:
            net: WARN
    sun:
      rmi: info
spring:
  cache:
    expiration: 604800000
  main:
    web-application-type: reactive
  cloud:
    gateway:
      routes:
        - id: cxBi
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.bi}/**
          filters:
            - RewritePath=${path.cx.bi}, /api/cx/v1/library/business-interactions
        - id: cxRefference
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.references}/**
          filters:
            - RewritePath=${path.cx.references}/(?<RID>.*), /api/cx/v1/references/$\{RID}
        - id: cxCj
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.cj}/**
          filters:
            - RewritePath=${path.cx.cj}, /api/cx/v1/product/cj
        - id: CjStep
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.step}/**
          filters:
            - RewritePath=${path.cx.step}, /api/cx/v1/product/step
        - id: cxProduct
          uri: ${integration.cx-server-url}
          predicates:
            - Path=${path.cx.product}/**
          filters:
            - RewritePath=${path.cx.product}/(?<RID>.*), /api/cx/v1/product/$\{RID}
        - id: userService
          uri: ${integration.auth-server-url}
          predicates:
            - Path=${path.auth}/**
          filters:
            - RewritePath=${path.auth}/user/(?<RID>.*)/product, /api/user/$\{RID}/product
            - RewritePath=${path.auth}, /api/admin/v1
        - id: technoradar
          uri: ${integration.techradar-server-url}
          predicates:
            - Path=${path.techradar}/**
          filters:
            - RewritePath=${path.techradar}, /api/v1
        - id: notification
          uri: ${integration.notification-server-url}
          predicates:
            - Path=${path.notification}/**
          filters:
            - RewritePath=${path.notification}, /api/v1
        - id: packloaderPackage
          uri: ${integration.pack-loader-server-url}
          predicates:
            - Path=${path.pack-loader.package}/**
          filters:
            - RewritePath=${path.pack-loader.package}/(?<RID>.*), /api/v1/package/$\{RID}
        - id: packloaderPackages
          uri: ${integration.pack-loader-server-url}
          predicates:
            - Path=${path.pack-loader.packages}
          filters:
            - RewritePath=${path.pack-loader.packages}, /api/v1/packages-list
        - id: capabilityService
          uri: ${integration.capability-server-url}
          predicates:
            - Path=${path.capability}/**
          filters:
            - RewritePath=${path.capability}/business, /api/v1/business-capability
            - RewritePath=${path.capability}/business/(?<RID>.*), /api/v1/business-capability/$\{RID}
            - RewritePath=${path.capability}/business/(?<RID>.*)/parent, /api/v1/business-capability/$\{RID}/parent
            - RewritePath=${path.capability}/business/tree, /api/v1/business-capability/tree
            - RewritePath=${path.capability}/business/tree/(?<RID>.*), /api/v1/business-capability/tree/$\{RID}
            - RewritePath=${path.capability}/tech, /api/v1/tech-capabilities
            - RewritePath=${path.capability}/tech/(?<RID>.*), /api/v1/tech-capabilities/$\{RID}
            - RewritePath=${path.capability}/capabilities-subscribed, /api/v1/capabilities-subscribed
            - RewritePath=${path.capability}/tech/(?<RID>.*)/parent, /api/v1/tech-capabilities/$\{RID}/parent
            - RewritePath=${path.capability}/search, /api/v1/find
            - RewritePath=${path.capability}/criterias, /api/v1/criterias
            - RewritePath=${path.capability}/maps, /api/v1/maps
            - RewritePath=${path.capability}/maps/(?<RID>.*), /api/v1/maps/$\{RID}
            - RewritePath=${path.capability}/maps/groups/(?<RID>.*), /api/v1/maps/groups/$\{RID}
            - RewritePath=${path.capability}/capability/type, /api/v1/capability/type
        - id: dashboardService
          uri: ${integration.dashboard-server-url}
          predicates:
            - Path=${path.dashboard}/**
          filters:
            - RewritePath=${path.dashboard}/tech/(?<RID>.*), /api/tech-capabilities/$\{RID}
        - id: productsService
          uri: ${integration.products-server-url}
          predicates:
            - Path=${path.products}/**
          filters:
            - RewritePath=${path.products}/tech/(?<RID>.*)/product, /api/v1/tech/$\{RID}/product
path:
  cx:
    bi: /api-gateway/cx/v1/bi
    references: /api-gateway/cx/v1/references
    cj: /api-gateway/cx/v1/cj
    step: /api-gateway/cx/v1/step
    product: /api-gateway/cx/v1/product
  pack-loader:
    package: /api-gateway/pack-loader/v1/package
    packages: /api-gateway/pack-loader/v1/packages
  auth: /api-gateway/auth/v1
  techradar: /api-gateway/techradar/v1
  capability: /api-gateway/capability/v1
  dashboard: /api-gateway/capability/v2
  products: /api-gateway/product/v1
  notification: /api-gateway/notify/v1
management:
  endpoints:
    web:
      exposure:
        include: '*'
    prometheus:
      enabled: true