app:
  version: @project.version@
  name: @project.name@

spring:
  main:
    web-application-type: reactive
  cloud:
    gateway:
      routes:
        - id: localhostRedirect
          uri: http://localhost:8082
          predicates:
            - Path=/api/cx/v1/product/cj/1
          filters:
            - RewritePath=/filter(?<segment>/?.*), $\{segment}

integration:
  user-server-url: http://user-backend-dev-eafdmmart.apps.yd-m6-kt22.vimpelcom.ru
JWKS: https://eauth-dev.apps.yd-kt05.vimpelcom.ru/.well-known/jwks/
