app:
  version: @project.version@
  name: @project.name@

spring:
  main:
    web-application-type: reactive
  cloud:
    gateway:
      routes:
        - id: roles
          uri: http://capability-backend-dev-eafdmmart.apps.yd-m6-kt22.vimpelcom.ru
          predicates:
            - Path=/api/admin/v1/roles
          filters:
            - RewritePath=/filter(?<segment>/?.*), $\{segment}
        - id: consumerModule
          uri: http://capability-backend-dev-eafdmmart.apps.yd-m6-kt22.vimpelcom.ru
          predicates:
            - Path=/api/admin/v1/roles
          filters:
            - RewritePath=/filter(?<segment>/?.*), $\{segment}

integration:
  user-server-url: http://user-backend-dev-eafdmmart.apps.yd-m6-kt22.vimpelcom.ru
